@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');

:global(.vtex-render-runtime-8-x-loadingBarAnimation){
  background-color:#000000;
}

.headerRowContainer--notification-mobile{
  display: flex;
  justify-content: center;
}

.headerRow--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.headerRow--main-header .headerRowBackground {
  background-color: #ffffff;
}

.headerRow--main-header :global(.vtex-menu-2-x-styledLink)  {
  color: #727273;
  font-size: 14px;
}

.headerStickyRow--menu-header :global(.vtex-menu-2-x-styledLink){
  font-size: 18px;
  color: #000000;
  font-family: 'Raleway',sans-serifa;
  font-weight: 700;
  text-transform: capitalize;
  border-bottom: 2px solid transparent;
  display: block;
  padding: 0 15px;
}

@media only screen and (max-width:1024px){
  .headerRowBackground--main-header-mobile{
    background-color: #ffffff;
  }

  .headerRowBackground--search-header{
    background-color: #dcdcdc;
    max-height: 40px;
  }
  .headerRowContainer--search-header{
    justify-content: center;
  }
  .headerRowContainer--log-cart-mobile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 25px 0;
  }
}
