
:global(.vtex-input-prefix__group){
  border: 1px solid #000000;
  border-radius: 0;
  color: #000;
  font-family: 'Raleway',sans-serif;
}

.logoImage--logo-main-header {
  width: 90px;
  height: 90px;
}

.searchBarContainer {
  max-width: 300px;
  align-self: flex-start;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #E6F1E6;
  padding: 0px;
}

.newsletter {
  background-color: #03054E;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

@media only screen and (max-width:425px){
  .container{
    padding: 0 15px;
  }

  .logoImage--logo-mobile{
    max-width: 40px;
    max-height: 40px;
  }

  .searchBarContainer{
    padding: 0;
  }
  :global(.vtex-input-prefix__group ){
    border: none;
  }

  :global(.vtex-styleguide-9-x-hideDecorators){
    background: #0000;
  }
  :global(.vtex-input__prefix ){
    background: #0000;
  }
}
