@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');

.headerRow--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.headerRow--main-header .headerRowBackground {
  background-color: #ffffff;
}

.headerRow--main-header :global(.vtex-menu-2-x-styledLink)  {
  color: #727273;
  font-size: 14px;
}

.headerStickyRow--menu-header{
  display: flex;
  justify-content: center;
}

.headerStickyRow--menu-header :global(.vtex-menu-2-x-styledLink){
  font-family: 'Raleway',sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 0.4;
  letter-spacing: 1.8px;
  text-align: center;
  color: #000000;
}

@media only screen and (max-width:425px){
  .headerRowContainer--notification-mobile{
    display: flex;
    justify-content: center;
  }

  .headerRowBackground--main-header-mobile{
    background-color: #ffffff;
  }

  .headerRowBackground--search-header{
    background-color: #dcdcdc;
    max-height: 40px;
  }
  .headerRowContainer--search-header{
    justify-content: center;
  }
  .headerRowContainer--log-cart-mobile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 25px 0;
  }
  
}